<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <!-- 引入 Bootstrap -->
    <script src="../lib/vue-2.5.17-beta.0/dist/vue.js"></script>
    <link rel="stylesheet" href="../lib/bootstrap-3.3.7-dist/bootstrap-3.3.7-dist/css/bootstrap.css">

</head>

<body>
    <div id="app">
        {{mag}}
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title">添加品牌</h3>
            </div>
            <div class="panel-body form-inline">
                <label>
                    Id:
                    <input type="text" class="form-contorl" v-model="id">
                </label>
                <label>
                    Name:
                    <!-- 按键修饰符 -->
                    <input type="text" class="form-contorl" v-model="name" @keyup.f2="add">
                </label>
                <!-- 使用事件绑定机制 处理函数时 如果加上小括号 就可以传参了 -->
                <input type="button" value="添加" class="btn btn-primary" @click="add()">
                <label>
                    搜索名称关键字:
                    <input type="text" class="form-contorl" v-model="keywords" v-focus v-color="'yellow'">
                </label>
            </div>
        </div>



        <table class="table table-bordered table-hover table-striped">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Name</th>
                    <th>Ctime</th>
                    <th>Operation</th>
                </tr>
            </thead>
            <tbody>
                <!-- 之前v-for直接从list直接渲染过来的 现在定义一个search方法 通过传参 进行查询 -->
                <tr v-for="item in search(keywords)" :key="item.id">
                    <td>{{item.id}}</td>
                    <td v-text="item.name"></td>
                    <td>{{item.ctime |dataFormat}}</td>
                    <td>
                        <a href="" @click.prevent="del(item.id)">删除</a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div id="app2">
        <h1 v-color="'pink'" v-fontweight="900" v-fontsize="42">{{dt|dataFormat}}</h1>
    </div>
    <script> 
        //自定义键盘吗
        Vue.config.keyCodes.f2 = 113
        //定义全局指令 参数1 是指令的名称  参数2是一个对象 有一些指令相关的函数  
        Vue.directive('focus', {
            //  每当指令绑定到元素的时候，就会立即执行bind函数 并且只执行一次
            bind: function (el) {
                // el.focus()
            },
            // 元素插入DOM中时 执行inserted函数 指出发一次
            inserted: function (el) {
                el.focus()
            },
            // 当VNode更新的时候 会执行update 可能会执行多次
            updated: function () { }
        })


        Vue.directive("color", {
            bind: function (el, binding) {
                // el.style.color = 'red'
                el.style.color = binding.value
            }
        })

        //全局过滤器
        Vue.filter('dataFormat', function (datastr, pattern = '') {
            // 根据给定的字符串 得出特定时间
            var dt = new Date(datastr)
            var y = dt.getFullYear()
            var m = dt.getMonth() + 1
            var d = dt.getDate()
            // return y + '-' + m + '-' + d
            // 模板字符串
            if (pattern.toLowerCase() == 'yyy-mm-dd') {
                return `${y}-${m}-${d}`
            } else {
                var hh = dt.getHours()
                var mm = dt.getMinutes()
                var ss = dt.getSeconds()
                return `${y}-${m}-${d} ${hh}:${mm}:${ss}`
            }
        })
        var vm = new Vue({
            el: '#app',
            data: {
                mag: '欢迎使用Vue',
                id: '',
                name: '',
                keywords: '',//搜索的关键字
                list: [
                    { id: 1, name: "奔驰", ctime: new Date() },
                    { id: 2, name: "奥迪", ctime: new Date() },
                    { id: 3, name: "宝马", ctime: new Date() },
                ]
            },
            methods: {
                add() {
                    var car = { id: this.id, name: this.name, ctime: new Date() }
                    this.list.push(car)
                    this.id = this.name = ''
                },
                del(id) {
                    var index = this.list.findIndex(item => {
                        if (item.id == id) {
                            return true;
                        }
                    })
                    this.list.splice(index, 1)
                },
                search(keywords) {
                    return this.list.filter(item => {
                        if (item.name.includes(keywords)) {
                            return item
                        }
                    })
                }
            }
        })
        var vm2 = new Vue({
            el: '#app2',
            data: {
                dt: new Date()
            },
            // 私有过滤器
            filters: {
                dataFormat: function (datastr, pattern = '') {
                    var dt = new Date(datastr)
                    var y = dt.getFullYear()
                    var m = (dt.getMonth() + 1).toString().padStart(2, '0')
                    var d = dt.getDate()
                    // return y + '-' + m + '-' + d
                    // 模板字符串
                    if (pattern.toLowerCase() == 'yyy-mm-dd') {
                        return `${y}-${m}-${d}`
                    } else {
                        var hh = dt.getHours()
                        var mm = dt.getMinutes()
                        var ss = dt.getSeconds()
                        return `${y}-${m}-${d} ${hh}:${mm}:${ss}~~~~~`
                    }
                }
            },
            //定义私有指令
            directives: {
                'fontweight': {//设置字体粗细
                    bind: function (el, binging) {
                        // console.log( binging.value)
                        el.style.fontWeight = binging.value
                    }
                },
                'fontsize': function (el, binging) {//相当于写道bind和updata里面
                    console.log(binging.value)
                    el.style.fontSize = parseInt(binging.value) + 'px'
                }
            }
        })

    </script>
</body>

</html>